main {
  padding:3em;
  /* margin-left: 1em; */
  margin: auto;
  width: 60vw;
}

nav {
    width:0;
    margin:0;
    padding:0;
    position:fixed;
    background-color: #151a1b;
    height: 100vh;
}

nav ul {
    margin-top: 3rem;
    /* text-align: right; */
}

nav a {}

nav .links {display:none; }
nav {transition: 0.3s;}

nav a {white-space: nowrap; overflow:hidden;}

nav .icon {
    left: 0;
    position: absolute;
    top: 3em;
    transition: 0.3s;
}

nav .icon img {
    color:#4CAF50;
    background-color:#4CAF50;
  }


.navtoggle {
  width: 180px;
  padding: 2em;
  }
.navtoggle .links{
     display:block;
   }
.navtoggle .icon{
    left: 180px;
}

.navtoggle + main {
  /* margin-left: 180px; */
  /* if you need to slide the main with the nav */
}





  /* .name {
    text-transform: capitalize;
  } */












/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    /*height: 38px;*/
    padding: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	/*background-color: transparent;*/
background: #4CAF50;
    outline: 0;
    border: 0;
    margin: 0.3em;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #eee;
    background: #4caeaf;
    outline: 0;
    text-decoration: none;
}


.btn.priority{
  background: #4CAF50;
}
.btn.priority:hover{
  background: #4caeaf;
}

.btn.secondary{
  background: #145a58;
}
.btn.secondary:hover{
  background: #4caeaf;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {max-width: 400px;}


input,
textarea,
select,
fieldset {
  margin-bottom: 1.5em; }

input,
textarea,
select {
  	padding: 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    width: 100%;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    /* border: 2px solid #c0c1b3; */
    border-radius: 4px;
	   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: auto;
}


input,
select {
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

input, textarea, select {
	margin-bottom: 1em;
	/* border: 2px solid #c0c1b3; */
	}


textarea {
    min-height: 100px;
}



fieldset {
    padding: 0;
    margin: 8px 0;
    border-width: 0;
}

fieldset .field-group:first-of-type{margin-right: 20px;}

fieldset .field-group{
	width: calc(50% - 10px);
    float: left;
    }

input[type="checkbox"]{
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
	}
input[type="radio"]{
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
	}

input[type="submit"] {width:auto; border:0; margin:10px 0;}
input:disabled {opacity: 0.3; cursor: not-allowed;}

form label {display:inline-block;}
form.stacked label{display:block;}

input[type=text], input[type=email] {}
input[type="password"] {
	-webkit-text-security: none !important;
}

form .short {
  width: 50px;
}


#response {
    padding: 20px;
    background-color: var(--color1);
    color: #333;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
     /*display: none;*/
}

@media (max-width: 750px) {
    form {
        margin: 0;
        padding: 0;
		width:100%;;
    }
    form div {
        padding-top: 0;
    }
    label {
        margin: 20px 0 0;
    }

	fieldset .field-group{
	width: 100%;
    float: none;
    }
}


input[type="submit"].priority {
  background-color:#142e8c;
}




.error {
  color:#e64848;
}

.note {
  color: #d4e648;
}

.grid a:hover {
  text-decoration: none;
}
.grid .item {
  border-bottom: 1px solid #c1c1c1;
}

.grid .item:hover {
  background: #2f3f42;
}

.grid .header {
  border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
}
.grid .flex{
  padding: 1em 0;
}

.grid .flex > li{
    flex: 1 0 100px;
  text-transform: capitalize;
}

.student.grid .flex > li:first-of-type{
  flex: 0 1 70px;
}
.students.grid .flex > li:first-of-type{
  flex: 0 1 20px;
}



.students.grid .flex li:nth-child(4), .students.grid .flex li:nth-child(5) {
    flex: 0 1 70px;
}
.students.grid .flex > li:last-of-type{
  margin-left:auto;
  flex: 1 0 auto;
}

.fullpage {
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  left: 0;
}
.fullpage > div {
  margin:auto;
}



.details h2{
  border-bottom: 1px solid #b2bf44;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 2em;
  color: #b2bf44;
  text-transform: none;
}


.details h3{
  border-bottom: 1px solid coral;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 1.5em;
  color: coral;
  text-transform: none;
}

.details h4{
font-weight: normal;
}


.details .items:not(:first-of-type) h3{
  margin-top:2em;
}

.details .items:not(:first-of-type) h4{
  margin-top:2em;
}

.details .item, .task .item {
  border: solid 1px #676767;
padding: 1em;
margin-bottom: 1em;
border-radius: .5em;
}

.details .item p, .task .item p {
  margin-bottom:0;
}
.details .item{
  display:grid;
  grid-column-gap: 10px;
  grid-template-columns: 90% 10%;
}


.details .edit.icon {
  display: inline-block;
  float:right;
  padding-top:.3em;
  text-align: right;
}
.details .edit.icon img{
  filter: invert(1);
  float:right;
}


.small {
  font-size: .9em;
  color: #879096;
}

.edit p img {
  display:inline-block;
}


.pill {
  border-radius: 1em;
    /* background: #7da017; */
    background-color: #51606f;
    margin: 0;
    color: #fff;
    display: inline-block;
    padding: 0.3em 1em;
    margin-right: .3em;
    text-transform: capitalize;
}

.pill.pass {
  background-color:#177b17;
}

.pill.referral, .pill.refer {
  background-color:#b54747;
}

.pill.excellent {
  background-color:#a9921a;
}
.pill.good {
  background-color:#33339e;
}

.flag.ehcp {
  background: #df7514;
}


.student h3{
    border-bottom: 1px solid #c1c1c1;
    padding:0;
    margin-bottom:1em;
    font-weight: normal;
    font-size: 2em;
        margin-top: 2em;
}



.sort{
  position:relative;
  border-left: solid 1px #676767;
  padding-left: 1em;
  display: inline-block;
  border-image: linear-gradient(to bottom, transparent, yellow, transparent) 1 100% ;
}

.sort > li::before{
  content: "";
    width: 20px;
    height: 20px;
    transform: translate(-35px, 5px);
    background: yellow;
    display: block;
    position: absolute;
}
.sort h4 {
  margin: 0;
    padding: 0;
}


.sort li {
  margin-left: .5em;
}

.sort ul li {
  border: solid 1px #676767;
  padding: 1em;
  margin-top: 1em;
  border-radius: .5em;

}


.marker .tooltip {
  display: inline;
      color: #4e4e4e;
}
.marker .grades {
  margin: 3em 0;
}
