main {
  padding:3em;
  /* margin-left: 1em; */
  margin: auto;
  width: 60vw;
}

nav {
    width:0;
    margin:0;
    padding:0;
    position:fixed;
    background-color: #151a1b;
    height: 100vh;
}

nav ul {
    margin-top: 3rem;
    /* text-align: right; */
}

nav a {color:rgba(255,255,255,0.8);}

nav .links {display:none; }
nav {transition: 0.3s;}

nav a {white-space: nowrap; overflow:hidden;}

nav .icon {
    left: 0;
    position: absolute;
    top: 3em;
    transition: 0.3s;
}

nav .icon img {
    color:#4CAF50;
    background-color:#4CAF50;
  }


.navtoggle {
  width: 180px;
  padding: 2em;
  }
.navtoggle .links{
     display:block;
   }
.navtoggle .icon{
    left: 180px;
}

.navtoggle + main {
  /* margin-left: 180px; */
  /* if you need to slide the main with the nav */
}

  /* @media (max-width: 1000px) {

    nav {
        position:fixed;
        width: auto;
        min-width: auto;
        background:rgba(50,50,50,1);
    }

    nav ul {
      margin-top: 0;
      text-align: left;
    }
  } */

  /* main {
  	margin-left:240px;
    box-sizing: border-box;
    padding-top: 3em;
  } */

  /* @media (max-width: 1000px) {
    main {
    	margin-left:0;
    }
  } */

  /* @media screen and (min-width: 1470px){
  main {
    max-width:70%;
  }
  } */




  .name {
    text-transform: capitalize;
  }












/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    /*height: 38px;*/
    padding: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	/*background-color: transparent;*/
    background: #4CAF50;
    outline: 0;
    border: 0;
    margin: 0.3em;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #eee;
    background: #242322;
    outline: 0;
}


@media (max-width: 750px) {
    .btn {
        margin: 0.2em 0;
    }
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {    max-width: 400px;}


input,
textarea,
select,
fieldset {
  margin-bottom: 1.5em; }

input,
textarea,
select {
  	padding: 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    width: 100%;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    /* border: 2px solid #c0c1b3; */
    border-radius: 4px;
	   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: auto;
}


input,
select {
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

input, textarea, select {
	margin-bottom: 1em;
	/* border: 2px solid #c0c1b3; */
	}


textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    min-height: 65px;
}



fieldset {
    padding: 0;
    margin: 8px 0;
    border-width: 0;
}

fieldset .field-group:first-of-type{margin-right: 20px;}

fieldset .field-group{
	width: calc(50% - 10px);
    float: left;
    }

input[type="checkbox"]{
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
	}
input[type="radio"]{
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
	}

input[type="submit"] {width:auto; border:0; margin:10px 0;}
input:disabled {opacity: 0.3; cursor: not-allowed;}

form label {display:inline-block;}
form.stacked label{display:block;}

input[type=text], input[type=email] {}
input[type="password"] {
	-webkit-text-security: none !important;
}


#response {
    padding: 20px;
    background-color: var(--color1);
    color: #333;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
     /*display: none;*/
}

@media (max-width: 750px) {
    form {
        margin: 0;
        padding: 0;
		width:100%;;
    }
    form div {
        padding-top: 0;
    }
    label {
        margin: 20px 0 0;
    }

	fieldset .field-group{
	width: 100%;
    float: none;
    }
}


input[type="submit"].priority {
  background-color:#142e8c;
}



.details {
  background-color:#25292f;
  padding:.5em;
  margin-bottom: .5em;
}


.items .item:not(:first-of-type) {
  margin-top:4em;
}
/* .items .item:not(:first-of-type) h3{
  margin-top:4em;
} */
.items .item {
  background:#37474a;
  padding:1em;
}

.error {
  color:#e64848;
}

.note {
  color: #d4e648;
}

.grid a:hover {
  text-decoration: none;
}
.grid .item {
  border-bottom: 1px solid #c1c1c1;
}

.grid .item:hover {
  background: #2f3f42;
}

.grid .header {
  border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
}
.grid .flex{
  padding: 1em 0;
}

.grid .flex > li{
  flex: 1 1 50px;
  text-transform: capitalize;
}

.student.grid .flex > li:first-of-type{
  flex: 0 1 70px;
}
.students.grid .flex > li:first-of-type{
  flex: 0 1 20px;
}
.students.grid .flex > li:last-of-type{
  margin-left:auto;
  flex: 1 0 200px;
}



.fullpage {
  width: 100%;
  height: 80%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  left: 0;
}
.fullpage > div {
  margin:auto;
}

/* .student.grid .flex > li:first-of-type{
  flex: 0 1 50px;
} */
